/*genral styles*/
body {
  margin: 0;
  font-family: 'Space Mono', monospace, 'Times New Roman', Times, serif;
}

.navbar {
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.container {
  font-size: 1.75em;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo img {
  height: 100px;
  width: 100px; /* Adjust according to your logo height */
  margin-right: 5px;
}

.nav-links li {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid black;
  transition: 0.5s;
}

.nav-links a:hover {
  background-color: black;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

/*home page style*/
.social {
  margin-left: auto;
  margin-right: 30px;
  align-self: center;
  padding: 15px;
}

.heroimage {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 0px;
  margin-bottom: 5px;
}

.text {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

.button a {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

.button a:hover {
  background-color: grey;
  border: 1px solid black;
  padding: 14px 25px;
  color: white;
}

/*general style*/
footer {
  text-align: center;
  margin: 20px 30px;
  border-top: 1px solid black;
}

/*link css*/

.intro-text {
  text-align: center;
  margin-top: 20px;
}

.box {
  display: flex;
  margin-top: 10px;
  background-image: url("resources/background.jpg");
  background-position-x: center;
}

.box a {
  text-decoration: none;
  color: black;
}
.column {
  flex: 1;
  padding: 20px;
}
.text-box {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
}

img {
  float: left;
  margin-top: 10px;
  margin-right: 15px;
}

.map {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("resources/ny.jpg");
  background-position-x: center;
}

.insta {
  text-decoration: dotted;
}